SESSION_TOKEN=<token>
PENNSIEVE_API_HOST=https://api.pennsieve.net
PENNSIEVE_API_HOST2=https://api2.pennsieve.net
INTEGRATION_ID=fake-integration-id
INPUT_DIR=/service/data/input/${INTEGRATION_ID}
OUTPUT_DIR=/service/data/output/${INTEGRATION_ID}
